#number_area {
    width: 320px;
    display: inline-block;
}

#num0,
#num1,
#num2,
#num3,
#num4,
#num5,
#num6,
#num7,
#num8,
#num9 {
    background-color: rgb(255, 255, 255);
}

#num0:active,
#num1:active,
#num2:active,
#num3:active,
#num4:active,
#num5:active,
#num6:active,
#num7:active,
#num8:active,
#num9:active {
    background-color: rgb(240, 240, 240);
}

#num0 {
    width: 307px;
}
